<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>购物车实例</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/car.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div id="app" v-cloak>
			<template v-if="list.length">
				<table class="table table-bordered table-striped table-active table-condensed">
					<thead>
						<tr>
							<th></th>
							<th>商品名称</th>
							<th>商品单价</th>
						    <th>购买数量</th>
						    <th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,index) in list">
							<td>{{ index +1}}</td>
							<td>{{ item.name }}</td>
							<td>{{ item.price }}</td>
							<td>
								<button type="button" @click="handleReduce(index)" :disabled="item.count === 1" :class="[{'disable':(item.count === 1)}]">-</button>
								{{ item.count }}
								<button @click="handleAdd(index)">+</button>
							</td>
							<td>
								<button @click="handleRemove(index)">移除</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div>总价:&yen;{{ totalPrice }}</div>
			</template>
			<div v-else><strong>购物车为空</strong></div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="js/car.js"></script>
	</body>
</html>
